@font-face {
    font-family: 'proxima';
    src: url('../fonts/ProximaCondBold.eot');
    src: url('../fonts/ProximaCondBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaCondBold.woff2') format('woff2'),
        url('../fonts/ProximaCondBold.woff') format('woff'),
        url('../fonts/ProximaCondBold.ttf') format('truetype'),
        url('../fonts/ProximaCondBold.svg#proxima_nova_cn_rgbold') format('svg');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'proxima';
    src: url('../fonts/ProximaCondLight.eot');
    src: url('../fonts/ProximaCondLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaCondLight.woff2') format('woff2'),
        url('../fonts/ProximaCondLight.woff') format('woff'),
        url('../fonts/ProximaCondLight.ttf') format('truetype'),
        url('../fonts/ProximaCondLight.svg#proxima_nova_cn_ltlight') format('svg');
    font-weight: 300;
    font-style: normal;
}