html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
.clearfix:before,
.clearfix:after {  
  content: ".";
  display: block;    
  height: 0;
  overflow: hidden; 
  zoom: 1; 
  / IE < 8 /  
}
.clearfix:after {clear: both;} 
button, input {outline:none;}
button {cursor:pointer;}
/ HTML5 display-role reset for older browsers /
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
b, strong {
 font-weight: 700;
}
ul {list-style: none;}
.right{float: right;}
.left{float: left;}
* {
  box-sizing: border-box;
}