@import url(reset.css);
@import url(fonts.css);
#one_product .product_view {
  margin-right: 534px; }
  #one_product .product_view img {
    width: 100%;
    display: block;
    margin-bottom: 50px; }
    #one_product .product_view img:last-child {
      margin-bottom: 70px; }

#one_product .product_info {
  position: absolute;
  top: 2px;
  right: 50px;
  width: 534px;
  padding-left: 54px; }
  #one_product .product_info .product_details {
    margin-bottom: 70px; }
  #one_product .product_info .product_name {
    margin-bottom: 64px; }
    #one_product .product_info .product_name .bigtitle {
      margin-bottom: 8px; }
    #one_product .product_info .product_name .subtitle {
      margin-bottom: 8px; }
    #one_product .product_info .product_name .product_price {
      font-size: 30px;
      font-weight: 600;
      letter-spacing: 0.2em; }
  #one_product .product_info .product_colors {
    margin-bottom: 12px; }
    #one_product .product_info .product_colors p {
      font-size: 12px;
      text-transform: uppercase;
      color: #999999;
      margin-bottom: 10px; }
    #one_product .product_info .product_colors .color {
      float: left;
      margin: 0 7px 7px 0;
      padding: 4px;
      width: 60px;
      height: 40px;
      border: 1px solid #e8e8e8;
      font-size: 0;
      cursor: pointer; }
      #one_product .product_info .product_colors .color:nth-child(8n) {
        margin-right: 0; }
      #one_product .product_info .product_colors .color.active {
        border: 1px solid #424242; }
      #one_product .product_info .product_colors .color span {
        display: block;
        height: 100%; }
      #one_product .product_info .product_colors .color.black span {
        background-color: #000; }
      #one_product .product_info .product_colors .color.white span {
        background-color: #fff; }
      #one_product .product_info .product_colors .color.grey span {
        background-color: #c4c4c4; }
      #one_product .product_info .product_colors .color.green span {
        background-color: #394b13; }
  #one_product .product_info .product_sizes {
    margin-bottom: 12px; }
    #one_product .product_info .product_sizes p {
      font-size: 12px;
      text-transform: uppercase;
      color: #999999;
      margin-bottom: 10px; }
    #one_product .product_info .product_sizes .size {
      float: left;
      position: relative;
      margin: 0 7px 7px 0;
      padding: 4px;
      width: 60px;
      height: 40px;
      border: 1px solid #e8e8e8;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      color: #999999; }
      #one_product .product_info .product_sizes .size:nth-child(8n) {
        margin-right: 0; }
      #one_product .product_info .product_sizes .size.active {
        border: 1px solid #424242;
        color: #424242; }
      #one_product .product_info .product_sizes .size.ended {
        color: #d0d0d0;
        border: 1px solid #f3f3f3; }
        #one_product .product_info .product_sizes .size.ended:after {
          content: '';
          position: absolute;
          z-index: -1;
          height: 1px;
          width: 69px;
          transform: rotate(-33deg);
          left: -5px;
          top: 18px;
          background-color: #f3f3f3; }
      #one_product .product_info .product_sizes .size span {
        display: block;
        height: 100%;
        line-height: 30px; }
  #one_product .product_info .product_qty {
    margin-bottom: 21px; }
    #one_product .product_info .product_qty p {
      font-size: 12px;
      text-transform: uppercase;
      color: #999999;
      margin-bottom: 10px; }
    #one_product .product_info .product_qty input {
      width: 60px;
      height: 40px;
      border: 1px solid #e8e8e8;
      padding: 0 19px;
      font-size: 12px;
      font-weight: 600;
      text-align: center; }
  #one_product .product_info .buttons .add_to_bag {
    width: 200px;
    height: 60px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #424242;
    border: none;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.1em; }
  #one_product .product_info .buttons span {
    height: 60px;
    text-transform: uppercase;
    color: #999999;
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    width: 80px; }
  #one_product .product_info .buttons .checkout {
    position: relative;
    display: block;
    width: 200px;
    height: 60px;
    border: 3px solid #424242;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #424242;
    font-size: 12px;
    font-weight: 600; }
    #one_product .product_info .buttons .checkout:after {
      content: '';
      position: absolute;
      left: 17px;
      top: 10px;
      background-image: url("../img/ui/sprite.png");
      background-position: -120px -86px;
      width: 25px;
      height: 30px; }
  #one_product .product_info .product_descr {
    margin-bottom: 70px; }
    #one_product .product_info .product_descr #descr_list {
      margin-bottom: 20px; }
    #one_product .product_info .product_descr .descr {
      border-top: 1px solid #e8e8e8; }
      #one_product .product_info .product_descr .descr:last-child {
        border-bottom: 1px solid #e8e8e8; }
      #one_product .product_info .product_descr .descr .header {
        position: relative;
        color: #999999;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 41px;
        cursor: pointer; }
        #one_product .product_info .product_descr .descr .header:after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -2px;
          background-image: url("../img/ui/sprite.png");
          background-position: -175px -50px;
          width: 7px;
          height: 4px;
          opacity: 0.5; }
        #one_product .product_info .product_descr .descr .header.open:after {
          background-image: url("../img/ui/sprite.png");
          background-position: -175px -44px;
          width: 7px;
          height: 4px; }
      #one_product .product_info .product_descr .descr .content {
        padding: 40px 0 0;
        display: none; }
        #one_product .product_info .product_descr .descr .content p {
          font-size: 12px;
          color: #424242;
          line-height: 18px;
          margin-bottom: 30px; }
        #one_product .product_info .product_descr .descr .content ul {
          margin-bottom: 28px; }
          #one_product .product_info .product_descr .descr .content ul li {
            position: relative;
            font-size: 12px;
            line-height: 18px;
            padding-left: 10px; }
            #one_product .product_info .product_descr .descr .content ul li:after {
              content: '';
              position: absolute;
              left: 0;
              top: 8px;
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background-color: #424242; }
    #one_product .product_info .product_descr .buttons a {
      width: 153px;
      height: 40px;
      line-height: 40px;
      color: #999999;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      border: 1px solid #e8e8e8;
      display: inline-block;
      text-align: center;
      margin-right: 6px;
      letter-spacing: 0.1em; }
      #one_product .product_info .product_descr .buttons a:last-child {
        margin-right: 0; }
      #one_product .product_info .product_descr .buttons a.wishlist {
        position: relative;
        padding-left: 20px; }
        #one_product .product_info .product_descr .buttons a.wishlist:after {
          content: '';
          position: absolute;
          background-image: url("../img/ui/sprite.png");
          background-position: -119px -67px;
          width: 14px;
          height: 13px;
          left: 15px;
          top: 50%;
          margin-top: -6.5px; }
  #one_product .product_info .product_sliders .small_slider {
    position: relative;
    margin-bottom: 70px; }
    #one_product .product_info .product_sliders .small_slider .title {
      margin-bottom: 28px; }
    #one_product .product_info .product_sliders .small_slider img {
      display: block; }
    #one_product .product_info .product_sliders .small_slider .flex-direction-nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 13px; }
      #one_product .product_info .product_sliders .small_slider .flex-direction-nav a {
        margin: 0;
        opacity: 1;
        font-size: 0; }
      #one_product .product_info .product_sliders .small_slider .flex-direction-nav .flex-nav-prev a {
        left: 0;
        float: left;
        background-image: url("../img/ui/sprite.png");
        background-position: -135px -67px;
        width: 14px;
        height: 12px; }
      #one_product .product_info .product_sliders .small_slider .flex-direction-nav .flex-nav-next a {
        right: 0;
        float: right;
        background-image: url("../img/ui/sprite.png");
        background-position: -151px -67px;
        width: 14px;
        height: 12px; }

#contact_us {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 640px;
  z-index: 50; }
  #contact_us .heading {
    padding: 35px 0; }
    #contact_us .heading .close {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: #e8e8e8; }
      #contact_us .heading .close:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -3.5px;
        left: 50%;
        margin-left: -3.5px;
        background-image: url("../img/ui/sprite.png");
        background-position: -175px -35px;
        width: 7px;
        height: 7px; }
  #contact_us .map_wrap {
    position: relative;
    margin-bottom: 50px; }
    #contact_us .map_wrap .contact_info {
      position: absolute;
      width: 192px;
      top: 44px;
      left: 40px;
      z-index: 50; }
      #contact_us .map_wrap .contact_info p {
        position: relative;
        color: #fff;
        display: inline-block;
        background-color: #424242;
        margin-bottom: 4px;
        padding: 5px 10px 5px 30px;
        font-size: 12px; }
        #contact_us .map_wrap .contact_info p:after {
          content: '';
          position: absolute;
          left: 10px;
          top: 3px; }
        #contact_us .map_wrap .contact_info p.heading {
          margin-bottom: 6px;
          padding: 7px 10px;
          text-transform: uppercase;
          font-weight: 600; }
        #contact_us .map_wrap .contact_info p.adr:after {
          background-image: url("../img/ui/sprite.png");
          background-position: -167px -86px;
          width: 11px;
          height: 14px; }
        #contact_us .map_wrap .contact_info p.tel:after {
          background-image: url("../img/ui/sprite.png");
          background-position: -103px -67px;
          width: 14px;
          height: 14px; }
        #contact_us .map_wrap .contact_info p.mail:after {
          top: 6px;
          background-image: url("../img/ui/sprite.png");
          background-position: -167px -67px;
          width: 14px;
          height: 10px; }
    #contact_us .map_wrap #map {
      position: relative;
      height: 100%;
      min-height: 400px; }
  #contact_us .write_us {
    padding-bottom: 40px; }
    #contact_us .write_us .title {
      margin-bottom: 28px; }
    #contact_us .write_us .form-group {
      width: 100%;
      margin-bottom: 30px; }
      #contact_us .write_us .form-group label {
        display: block;
        color: #999999;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px; }
      #contact_us .write_us .form-group input {
        width: 100%;
        border: 1px solid #e8e8e8;
        padding: 0 20px;
        height: 40px;
        letter-spacing: 0.1em; }
      #contact_us .write_us .form-group textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #e8e8e8; }
    #contact_us .write_us button {
      display: block;
      width: 100%;
      height: 40px;
      border: 2px solid #424242;
      background-color: #fff;
      color: #424242;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px; }

#bread {
  margin-bottom: 50px; }
  #bread li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #999999;
    text-transform: uppercase;
    padding-left: 20px; }
    #bread li:before {
      content: '/';
      position: absolute;
      left: 6px; }
    #bread li:first-child {
      padding-left: 0; }
      #bread li:first-child:before {
        display: none; }
    #bread li a {
      text-decoration: none;
      color: #999999; }
    #bread li span {
      font-weight: bold; }

#filters {
  font-size: 0;
  letter-spacing: normal;
  width: 100%;
  margin-bottom: 20px;
  text-transform: uppercase; }
  #filters > div {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    width: 16%; }
  #filters .ui-selectmenu-button {
    width: 100%;
    padding: 10px 30px 10px 20px; }
    #filters .ui-selectmenu-button .ui-selectmenu-icon {
      position: absolute;
      top: 17px;
      right: 19px;
      margin: 0;
      background-image: url("../img/ui/sprite.png");
      background-position: -175px -50px;
      width: 7px;
      height: 4px;
      opacity: 0.5; }
  #filters .sort {
    width: 16%;
    margin-right: 1.6%; }
  #filters .size {
    width: 12%; }
  #filters .size .ui-selectmenu-button, #filters .color .ui-selectmenu-button {
    border-left: 0; }
  #filters .slider {
    position: relative;
    width: 38.4%;
    border: 1px solid #e8e8e8;
    color: #999999;
    border-left: 0;
    height: 40px;
    position: relative;
    padding: 0 20px 0 100px;
    font-size: 12px;
    line-height: 38px; }
    #filters .slider label {
      position: absolute;
      top: 0;
      left: 20px; }
    #filters .slider .param {
      position: relative;
      width: 100%;
      padding: 17px 36px 0; }
      #filters .slider .param > span {
        position: absolute;
        display: block;
        top: 0;
        left: 0; }
        #filters .slider .param > span.max {
          left: auto;
          right: 0; }
    #filters .slider .ui-slider {
      height: 5px;
      background-color: #e8e8e8; }
      #filters .slider .ui-slider .ui-slider-range {
        background-color: #999999; }
      #filters .slider .ui-slider .ui-slider-handle {
        background-color: #999999;
        width: 8px;
        height: 16px;
        top: -6px;
        margin-left: -4px;
        cursor: pointer; }
  #filters.wsort .sort {
    display: none; }
  #filters.wsort .direction {
    margin-left: 1.6%; }

#filters-selected {
  font-size: 0;
  margin-bottom: 50px;
  letter-spacing: normal; }
  #filters-selected li {
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }
  #filters-selected a {
    display: block;
    width: 100%;
    line-height: 28px;
    height: 30px;
    background-color: #e8e8e8;
    border: 2px solid #e8e8e8;
    padding: 0 26px 0 18px;
    color: #999999; }
    #filters-selected a.clear {
      background-color: #FFF;
      border-color: #424242;
      color: #424242;
      font-weight: bold;
      padding: 0 68px; }

#catalog-list {
  font-size: 0;
  letter-spacing: normal; }
  #catalog-list li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    text-align: center;
    width: 23.8%;
    margin-right: 1.6%;
    padding-bottom: 48px; }
    #catalog-list li:nth-child(4n) {
      margin-right: 0; }
  #catalog-list img {
    display: block;
    width: 100%;
    margin-bottom: 18px; }
  #catalog-list .name {
    text-transform: uppercase;
    line-height: 1.1em;
    margin-bottom: 6px; }
  #catalog-list .price {
    font-weight: bold; }
    #catalog-list .price .old {
      display: inline-block;
      vertical-align: top;
      color: #999999;
      text-decoration: line-through; }
  #catalog-list .sale {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 45px;
    padding-left: 10px;
    background-color: #424242;
    border-radius: 0 0 0 50px; }
  #catalog-list a {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block; }

footer {
  position: relative;
  width: 100%;
  background-color: #424242;
  color: #999999;
  padding: 30px 0 0; }
  footer #subscribe {
    font-size: 0;
    padding-bottom: 29px; }
    footer #subscribe input {
      display: inline-block;
      vertical-align: top;
      margin: 0 8px 0 0;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #e8e8e8;
      height: 40px;
      font: 300 24px 'proxima', sans-serif;
      letter-spacing: 0.1em;
      width: 300px;
      color: #999999; }
    footer #subscribe button {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      padding: 0 42px;
      background-color: transparent;
      border: 2px solid #fff;
      height: 40px;
      font: 700 12px 'proxima', sans-serif;
      letter-spacing: 0.1em;
      color: #fff;
      text-transform: uppercase; }
  footer .right {
    padding-top: 5px;
    font-size: 0; }
    footer .right ul {
      display: inline-block;
      vertical-align: top;
      margin-left: 45px; }
    footer .right li {
      display: inline-block;
      vertical-align: top;
      font-size: 12px;
      line-height: 30px;
      text-transform: uppercase; }
    footer .right .social li {
      margin-right: 10px; }
      footer .right .social li:first-child {
        margin-right: 5px; }
    footer .right .social a {
      display: block; }
    footer .right .social .fb {
      background-image: url("../img/ui/sprite.png");
      background-position: -143px -35px;
      width: 30px;
      height: 30px; }
    footer .right .social .in {
      background-image: url("../img/ui/sprite.png");
      background-position: -88px -86px;
      width: 30px;
      height: 30px; }
    footer .right .accept li {
      margin-left: 15px; }
    footer .right .accept a {
      display: block; }
    footer .right .accept .visa {
      background-image: url("../img/ui/sprite.png");
      background-position: -76px -35px;
      width: 65px;
      height: 30px; }
    footer .right .accept .mscard {
      background-image: url("../img/ui/sprite.png");
      background-position: 0px -86px;
      width: 42px;
      height: 30px; }
    footer .right .accept .paypal {
      background-image: url("../img/ui/sprite.png");
      background-position: 0px -35px;
      width: 74px;
      height: 30px; }
    footer .right .accept .maestro {
      background-image: url("../img/ui/sprite.png");
      background-position: -44px -86px;
      width: 42px;
      height: 30px; }
  footer .bottom {
    padding: 10px 0 0;
    height: 40px;
    border-top: 1px solid #555; }
    footer .bottom .copyright {
      line-height: 19px;
      font-size: 10px;
      display: inline-block;
      vertical-align: top; }
    footer .bottom .fresh {
      float: right;
      display: block;
      line-height: 19px;
      font-size: 10px; }
      footer .bottom .fresh a {
        display: inline-block;
        vertical-align: top;
        background-image: url("../img/ui/sprite.png");
        background-position: 0px -67px;
        width: 81px;
        height: 17px; }

.enter-form {
  position: relative;
  min-height: calc(100% - 332px);
  height: 474px;
  margin-top: -30px;
  padding-right: 500px;
  text-transform: uppercase; }
  .enter-form .form {
    width: 100%;
    height: 100%;
    display: table; }
    .enter-form .form form {
      width: 100%;
      height: 100%;
      padding: 50px 0 70px;
      display: table-cell;
      vertical-align: middle; }
    .enter-form .form .header {
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
      letter-spacing: 0.2em; }
    .enter-form .form .form-group {
      display: block;
      width: 300px;
      margin: 0 auto 30px; }
      .enter-form .form .form-group label {
        display: block;
        margin-bottom: 10px; }
      .enter-form .form .form-group input {
        position: relative;
        border: 1px solid #e8e8e8;
        height: 38px;
        width: 100%;
        padding: 0 18px;
        font-size: 14px; }
    .enter-form .form .checkbox {
      text-transform: none;
      font-size: 12px; }
      .enter-form .form .checkbox label {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0; }
      .enter-form .form .checkbox a {
        float: right;
        display: block;
        line-height: 20px; }
    .enter-form .form .fogot {
      color: #424242;
      text-decoration: underline; }
    .enter-form .form button {
      display: block;
      margin: 0 auto;
      width: 300px;
      background-color: #424242;
      border: none;
      height: 60px;
      font: 700 14px 'proxima', sans-serif;
      letter-spacing: 0.1em;
      color: #fff;
      text-transform: uppercase; }
    .enter-form .form .radiogroup label {
      display: block;
      width: 100%; }
  .enter-form .banner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background-position: 50% 50%;
    background-size: cover; }

#register {
  height: 872px; }

.radiogroup, .checkbox {
  position: relative; }
  .radiogroup input, .checkbox input {
    position: absolute !important;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: -1; }
  .radiogroup label, .checkbox label {
    position: relative;
    padding-left: 24px;
    line-height: 20px;
    cursor: pointer; }
    .radiogroup label:before, .checkbox label:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      border: 1px solid #e8e8e8; }
    .radiogroup label.checked :before, .checkbox label.checked :before {
      border-bottom: 1px solid red; }

.radiogroup label {
  margin-bottom: 10px; }
  .radiogroup label:before {
    border-radius: 50%; }
  .radiogroup label.selected:before {
    background-image: url("../img/ui/sprite.png");
    background-position: -147px -86px;
    width: 18px;
    height: 18px; }

*:focus {
  outline: none; }

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'proxima', sans-serif;
  font-weight: 300;
  color: #424242;
  font-size: 14px;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased; }

section {
  position: relative;
  width: 100%;
  overflow: hidden; }

.box {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  height: 100%; }

a {
  text-decoration: none; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  font-size: 0;
  clear: both;
  height: 0; }

button, input, select {
  font-family: 'proxima', sans-serif; }

a[href^="https://maps.google.com/maps"] {
  display: none !important; }

.gmnoprint span, .gmnoprint a {
  display: none; }

.gm-svpc {
  display: none; }

header {
  position: relative;
  padding-top: 34px;
  margin-bottom: 30px; }
  header .topline {
    margin-bottom: 34px;
    height: 33px; }
    header .topline .contact_us {
      padding-top: 12px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 300; }
    header .topline .logo {
      background-image: url("../img/ui/sprite.png");
      background-position: 0px 0px;
      width: 183px;
      height: 33px;
      position: absolute;
      top: 34px;
      left: 50%;
      margin-left: -91.5px; }
    header .topline .ctrl_nav {
      padding-top: 7px; }
      header .topline .ctrl_nav ul li {
        height: 20px;
        font-size: 13px;
        line-height: 20px;
        border-right: 1px solid #e8e8e8;
        text-transform: uppercase;
        float: left; }
        header .topline .ctrl_nav ul li a {
          padding: 0 20px;
          display: block;
          color: #424242; }
          header .topline .ctrl_nav ul li a .search {
            display: block;
            background-image: url("../img/ui/sprite.png");
            background-position: 0px -118px;
            width: 18px;
            height: 18px; }
        header .topline .ctrl_nav ul li .cart {
          position: relative;
          padding: 0 20px 0 44px; }
          header .topline .ctrl_nav ul li .cart:before {
            content: '';
            position: absolute;
            left: 20px;
            top: 1px;
            background-image: url("../img/ui/sprite.png");
            background-position: -83px -67px;
            width: 18px;
            height: 15px; }
          header .topline .ctrl_nav ul li .cart span {
            font-weight: 600; }
      header .topline .ctrl_nav .lang_submenu {
        position: relative;
        padding: 0;
        border: none; }
        header .topline .ctrl_nav .lang_submenu #lang {
          cursor: pointer;
          max-height: 20px;
          overflow: hidden;
          transition: all .4s; }
          header .topline .ctrl_nav .lang_submenu #lang li {
            float: none;
            text-align: center;
            border: none; }
            header .topline .ctrl_nav .lang_submenu #lang li:first-child:after {
              content: '';
              position: absolute;
              top: 7px;
              right: 0;
              background-image: url("../img/ui/sprite.png");
              background-position: -175px -50px;
              width: 7px;
              height: 4px; }
            header .topline .ctrl_nav .lang_submenu #lang li .cur_lang {
              display: block; }
            header .topline .ctrl_nav .lang_submenu #lang li a {
              padding: 0 12px 0 20px; }
          header .topline .ctrl_nav .lang_submenu #lang.active {
            max-height: 200px; }
  header .nav {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8; }
    header .nav ul {
      width: 635px;
      height: 52px;
      margin: 0 auto; }
      header .nav ul li {
        display: inline-block;
        margin-left: 24px;
        line-height: 52px; }
        header .nav ul li:first-child {
          margin-left: 0; }
        header .nav ul li a {
          display: block;
          color: #424242;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 13px; }
  header .announce {
    height: 38px;
    border-bottom: 1px solid #e8e8e8; }
    header .announce p {
      line-height: 38px;
      text-align: center;
      color: #999999;
      font-size: 11px;
      text-transform: uppercase; }

.bigtitle {
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 30px;
  line-height: 18px;
  text-transform: uppercase; }

.title {
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase; }

.subtitle {
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #999999; }

.ui-selectmenu-button.ui-button {
  padding: 12px 20px;
  margin-right: 0;
  border: 1px solid #e8e8e8; }

.ui-selectmenu-text {
  font-family: proxima;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #999999; }
